In [66]:
import pandas as pd
import numpy as np
import os
from collections import defaultdict

In [28]:
spy_data = pd.read_csv('SPY.csv')
spy_data

Question 1) 1.

,Date,Year,Month,Day,Weekday,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA
0,2016-01-04,2016,1,4,Monday,1,2016-01,200.49,201.03,198.59,201.02,222353500,178.05,0.000000,178.050000,178.0500
1,2016-01-05,2016,1,5,Tuesday,1,2016-01,201.40,201.90,200.05,201.36,110845800,178.35,0.001692,178.200000,178.2000
2,2016-01-06,2016,1,6,Wednesday,1,2016-01,198.34,200.06,197.60,198.82,152112600,176.10,-0.012614,177.500000,177.5000
3,2016-01-07,2016,1,7,Thursday,1,2016-01,195.33,197.44,193.59,194.05,213436100,171.88,-0.023992,176.095000,176.0950
4,2016-01-08,2016,1,8,Friday,1,2016-01,195.19,195.85,191.58,191.92,209817200,169.99,-0.010977,174.874000,174.8740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2020-12-23,2020,12,23,Wednesday,51,2020-51,368.28,369.62,367.22,367.57,46201400,358.58,0.000899,358.296429,345.3106
1254,2020-12-24,2020,12,24,Thursday,51,2020-51,368.08,369.03,367.45,369.00,26457900,359.98,0.003890,358.346429,345.7506
1255,2020-12-28,2020,12,28,Monday,52,2020-52,371.74,372.59,371.07,372.17,39000400,363.07,0.008591,358.670000,346.2608
1256,2020-12-29,2020,12,29,Tuesday,52,2020-52,373.81,374.00,370.83,371.46,53680500,362.38,-0.001908,358.869286,346.7612
1257,2020-12-30,2020,12,30,Wednesday,52,2020-52,372.34,373.10,371.57,371.99,49455300,362.89,0.001427,359.335714,347.3744

In [29]:
spy_data["True Label"] = spy_data["Return"].map(lambda x:'+' if x>=0 else '-')
print("Question 1) 1.")
spy_data

Question 1) 1.

,Date,Year,Month,Day,Weekday,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA,True Label
0,2016-01-04,2016,1,4,Monday,1,2016-01,200.49,201.03,198.59,201.02,222353500,178.05,0.000000,178.050000,178.0500,+
1,2016-01-05,2016,1,5,Tuesday,1,2016-01,201.40,201.90,200.05,201.36,110845800,178.35,0.001692,178.200000,178.2000,+
2,2016-01-06,2016,1,6,Wednesday,1,2016-01,198.34,200.06,197.60,198.82,152112600,176.10,-0.012614,177.500000,177.5000,-
3,2016-01-07,2016,1,7,Thursday,1,2016-01,195.33,197.44,193.59,194.05,213436100,171.88,-0.023992,176.095000,176.0950,-
4,2016-01-08,2016,1,8,Friday,1,2016-01,195.19,195.85,191.58,191.92,209817200,169.99,-0.010977,174.874000,174.8740,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2020-12-23,2020,12,23,Wednesday,51,2020-51,368.28,369.62,367.22,367.57,46201400,358.58,0.000899,358.296429,345.3106,+
1254,2020-12-24,2020,12,24,Thursday,51,2020-51,368.08,369.03,367.45,369.00,26457900,359.98,0.003890,358.346429,345.7506,+
1255,2020-12-28,2020,12,28,Monday,52,2020-52,371.74,372.59,371.07,372.17,39000400,363.07,0.008591,358.670000,346.2608,+
1256,2020-12-29,2020,12,29,Tuesday,52,2020-52,373.81,374.00,370.83,371.46,53680500,362.38,-0.001908,358.869286,346.7612,-
1257,2020-12-30,2020,12,30,Wednesday,52,2020-52,372.34,373.10,371.57,371.99,49455300,362.89,0.001427,359.335714,347.3744,+

In [41]:
count_series = spy_data[spy_data["Year"]<2019]["True Label"].value_counts()
count_series['+']/count_series.sum()

0.5543766578249337

In [64]:
label = np.array(spy_data[spy_data["Year"]<2019]["True Label"])
label_string = np.array2string(label).replace("\n","").replace("'","").replace("[","").replace("]","").replace(" ", "")
print(label_string.count("-----"))
print(label_string.count("----+"))
label_string

4
13

'++---++-+-+-++-+-++--++--+--+++--+-++--+++++-+++--++++---+++-+--+-+-+++-+++-+-++--+---+++-+-+-+-+-++++-++-+++-----+-++-+--++++-+-+++-+-+-+-+-+-++--+++-+-+-+-++--+---+--+++---+--+-++++--++-+--++-+-+-+-++-++----+----++++-++-+-++++-+--++++++-+-+-++--++---++-+-++-+-+-+-++----+++-+++++++-++-+++-+-+---+++-+----+---+++--+-+-+---+--+-++-+-++-++--+--+--++++++---++--++--+--++---++-+-+++-++-+++-+++--++---++-++---++-+--++--++++++-+--+++-++++-+-++++++++--++-++++++-+-++-+++++-+--+--+-++-+-+-+---+++++--++--+--++-++++++-++-+-+++-++--+---+--++++++--+++---+++-++----+-+---+--+-+++-++-+-+++----+++-+--+++++++-+--+-+---+-++++-+++-+---+-+-+-+++-++++-++-++--+++---+-++++----+-++++--++++-+----+++++-+++----+++-+--+---+-++-----+--+++-+++-----++--+-+++-++---+++--------++-+'

In [93]:
label = np.array(spy_data[spy_data["Year"]<2019]["True Label"])
label_string = np.array2string(label).replace("\n","").replace("'","").replace("[","").replace("]","").replace(" ", "")
dic = defaultdict(lambda:defaultdict(lambda:0))
for i in range(2,len(label_string)):
    dic[label_string[i-2:i]][label_string[i]]+=1
dic
train = spy_data[spy_data["Year"]>2018]
temp = np.array(spy_data.iloc[train.index[0]-2:]["True Label"])
store = []
for i in range(2,len(temp)):
    if dic["".join(temp[i-4:i])]["+"] == 0 and dic["".join(temp[i-4:i])]["-"] == 0:
        # TODO store p* value
        pass
    if dic["".join(temp[i-4:i])]["+"]>=dic["".join(temp[i-2:i])]["-"]:
        store.append("+")
    else:
        store.append("-")

train["Predict Label"] = store
train

C:\Users\shatr\AppData\Local\Temp\ipykernel_22264\4125187376.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train["Predict Label"] = store

,Date,Year,Month,Day,Weekday,Week_Number,Year_Week,Open,High,Low,Close,Volume,Adj Close,Return,Short_MA,Long_MA,True Label,Predict Label
754,2019-01-02,2019,1,2,Wednesday,0,2019-00,245.98,251.21,245.95,250.18,126925200,235.14,0.001040,235.427857,248.2308,+,-
755,2019-01-03,2019,1,3,Thursday,0,2019-00,248.23,248.57,243.67,244.21,144140700,229.53,-0.023863,234.105000,247.6588,-,-
756,2019-01-04,2019,1,4,Friday,0,2019-00,247.59,253.11,247.17,252.39,142628800,237.21,0.033496,233.337143,247.2636,+,-
757,2019-01-07,2019,1,7,Monday,1,2019-01,252.69,255.95,251.69,254.38,103139100,239.08,0.007885,233.029286,246.9320,+,-
758,2019-01-08,2019,1,8,Tuesday,1,2019-01,256.82,257.31,254.00,256.77,102512600,241.33,0.009395,233.223571,246.8002,+,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2020-12-23,2020,12,23,Wednesday,51,2020-51,368.28,369.62,367.22,367.57,46201400,358.58,0.000899,358.296429,345.3106,+,-
1254,2020-12-24,2020,12,24,Thursday,51,2020-51,368.08,369.03,367.45,369.00,26457900,359.98,0.003890,358.346429,345.7506,+,-
1255,2020-12-28,2020,12,28,Monday,52,2020-52,371.74,372.59,371.07,372.17,39000400,363.07,0.008591,358.670000,346.2608,+,-
1256,2020-12-29,2020,12,29,Tuesday,52,2020-52,373.81,374.00,370.83,371.46,53680500,362.38,-0.001908,358.869286,346.7612,-,-
1257,2020-12-30,2020,12,30,Wednesday,52,2020-52,372.34,373.10,371.57,371.99,49455300,362.89,0.001427,359.335714,347.3744,+,-

In [94]:
train[train["True Label"] == train["Predict Label"]].size/train.size

0.4146825396825397